
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>outspect.dev (the mbc)</title>
  <link rel="stylesheet" href="style.css">
  <style>
    body {
      margin: 0;
      padding-top: 60px;
    }

    .top-bar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: #181818;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .top-bar a {
      color: white;
      text-decoration: none;
    }

    .top-bar a:hover {
      text-decoration: underline;
    }

    .container {
      padding: 20px;
    }

    #mbc-section {
      padding-top: 60px;
    }
  </style>
</head>
<body>
  <div class="top-bar">
    <a href="#mbc-section"><h1>memeware</h1></a>
  </div>
  <div class="container">
    <h1>Memeware Shop</h1>

    <div class="big-red-text">Please join https://discord.gg/memeware for updates and more...</div>

    <h2 id="mbc-section">Products</h2>
    <div class="product-container">
      <div class="product">
        <img src="gorillatag.jpg" alt="Gorilla Tag Mod Menu" />
        <h3>Memeware Mod Menu</h3>
        <p>Price: ???</p>
        <p>Description: an incredible Gorilla Tag mod menu with advanced features!</p>
        <a href="https://google.com" target="_blank">Buy Now</a>
      </div>
      <div class="product">
        <img src="redirect.jpg" alt="Gorilla Tag Mod Menu" />
        <h3>Memeware Customer Panel</h3>
        <p></p>
        <p>Description: The customer panel for Memeware</p>
        <a href="https://memeware.wtf/panel" target="_blank">Go Now!</a>
      </div>
      <div class="product">
        <img src="redirect.jpg" alt="Gorilla Tag Mod Menu" />
        <h3>The MBC</h3>
        <p></p>
        <p>Description: The mbc to get pasted menus for free!</p>
        <a href="https://memeware.wtf/mbc" target="_blank">Go Now!</a>
      </div>

      
    </div>
    <div class="faq-container">
      <div class="faq-item">
        <div class="faq-question">Can I use the mod menu on any platform?</div>
        <div class="faq-answer">The Gorilla Tag mod menu is currently available for PC VR platforms only.</div>
      </div>
      <div class="faq-item">
        <div class="faq-question">Is the gorilla tag mod menu undetected?</div>
        <div class="faq-answer">Yes, But keep in mind you can still be banned by staff.</div>
      </div>
    </div>
      <footer>
        <p>made by outspect#0001 - discord.gg/memeware</p>
      </footer>
    </div>
  </body>
</html>

